<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UseCasesIntegrationsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>iOSUi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7103BA9524F7225C00A352CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>714B506124E7F59F003C9C47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>714B507224E80151003C9C47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>714B507A24E80151003C9C47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>719ED87A24EBDF9000BC8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>719ED88224EBDF9000BC8318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C289542503C64500B54CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C289692503C64600B54CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
